.brand
    display flex
    align-items flex-end
    font-size 24px
    cursor pointer
    div
        background-color #FF565C
        width 4px
        height 4px
        margin-left 2px
        margin-bottom 6px

.brand--footer
    color #F9FAFC