.footer 
  background #1D1F24
  height 160px
  width 100%
  position absolute
  bottom 0
  padding 16px 

.footer__main-container
  display flex
  width 100%
  height 100%
  justify-content space-between
  align-items center

.footer__main-list
  display grid
  grid-template-row 1fr 1fr 
  grid-template-columns 1fr 1fr 1fr 1fr
  grid-gap 18px

.footer__item-list
  color white

.footer__icons
  width 16px
  height 16px
  color red