.footer 
  background #1D1F24
  height 160px
  width 100%
  position absolute
  bottom 0
  padding 16px 

.footer__main-container
  display flex
  width 100%
  height 100%
  justify-content space-between
  align-items center

.footer__main-list
  width 60%
  display grid
  grid-template-row 1fr 1fr 
  grid-template-columns 1fr 1fr 1fr 1fr
  grid-gap 18px

.footer__item-list
  color white
  
.footer__icons-container
  width 100%
  display flex
  align-items center
  font-size 14px
  justify-content flex-end
  color grey
  padding-bottom 5px
   @media screen and (min-width: 768px)
        height 90px
        padding 0 38px

.footer__icons-container--img
  width 16px
  height 16px
  margin: 8px

.footer__brand-description
  padding-top 8px
  font-size 14px
  color #FFFFFF

.footer__input
  width 180px
  height 35px

.footer__button
  height 35px
  color white
  background #FF565C
  border none
  padding 5px